{
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": ["warn","tab", { "ignoredNodes": ["TemplateLiteral"]}],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "never"
        ],
        "object-curly-spacing": [
            "error",
            "always"
        ],
        "no-unused-vars": "warn",
        "react/prop-types": "warn",
        "react/jsx-first-prop-new-line": [1, "multiline"],
        "react/jsx-max-props-per-line": [1,
            {
                "maximum": 1
            }
        ],
        "jsx-quotes": ["warn", "prefer-single"],
         "react/jsx-closing-bracket-location": "warn",
         "react/jsx-closing-tag-location": "warn",
         "template-curly-spacing" : "off"
    }
}
